body {
    background-color: #363636;
    color: #fff;
}
.sidebar {
    background-color: #363636;
    height: 100vh;
    padding: 20px;
    position: fixed;
    width: 250px;
}
.sidebar .nav-link {
    color: #ECAE1B;
    margin-bottom: 15px;
    font-weight: bold;
}
.sidebar .nav-link:hover {
    color: #fff;
}
.content {
    margin-left: 270px;
    padding: 20px;
}
.navbar {
    background-color: #ECAE1B;
}
.navbar-brand {
    color: #000;
    font-weight: bold;
}
.navbar-brand:hover {
    color: #333;
}
.card {
    background-color: #363636;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.card-title {
    color: #ECAE1B;
}
.btn-custom {
    background-color: #ECAE1B;
    color: #000;
    border: none;
}
.btn-custom:hover {
    background-color: #c99f17;
    color: #000;
}
.sidebar img {
    width: 100%;
    height: 20%;
}