body {
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-control:focus {
    box-shadow: none;
    border-color: #ECAE1B;
}
.btn-primary {
    background-color: #ECAE1B;
    border: none;
}
.btn-primary:hover {
    background-color: #ECAE1B;
}
.brand-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ECAE1B;
    text-align: center;
    margin-bottom: 1rem;
}




/* ALERTAS */

.alert {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    display: block;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.d-none {
    display: none !important;
}
